@tailwind base;
@tailwind components;
@tailwind utilities;

div.login{


}


:link {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 8%;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;  
  text-decoration: none;
  
}

:link:hover
{
text-decoration: underline;
}



body {
  background-color: #101357
}

img.a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 3%;
  margin-bottom: 5%;
}

img.b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}


label{
  margin-left: auto;
margin-right: auto;
text-align: center;
display: block;
}

input.a{
height: 40px;
width: 18%;
margin-left: auto;
margin-right: auto;
text-align: center;
display: block;
color: black;
}

input.b{
  height: 40px;
  width: 18%;
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
}

input.a:focus{
  background-color: lightblue;
  }

input.b:focus{
background-color: lightblue;
}

button{
  height: 40px;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3%;
  color: black;
}

button:hover{
background-color: rgb(17, 255, 0);
}

p.a{
  text-align: center;
  font-size: 25px;
  color: antiquewhite;
  font-weight: bolder;
}

div.a{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  width: 15%;
  margin-bottom: 3%;
  background-color: #000000;
}

div.b{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  width: 15%;
  background-color: #000000;
}


*{
  color: rgb(255, 255, 255);
}

