header {
  text-align: center;
}

:link {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 20%;
  flex-direction: column-reverse;
}

p {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}